.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card img {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    float: right;
    margin-left: auto;
    padding-right: 10px;
    color: red;
}

.icon:hover {
    color: orange;
}

.price {
    font-weight: bold;
    padding-left: 10px;
}

.name {
    padding-left: 10px;
}

/* large devices condition */

@media only screen and (min-width: 992px) {
    .card {
        margin-top: 10px;
        justify-content: space-evenly;
        display: flex;
        width: 30%;
        flex-direction: column;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;    }
}